.bbtn {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  height: 40px;
  font-weight: 700;
  cursor: pointer;
  position: relative !important;
  border: none;
  background: none;
  text-transform: capitalize;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.bbtn:focus,
.bbtn:hover {
  color: #fff;
}

.bbtn:focus:after,
.bbtn:hover:after {
  width: 100%;
  left: 0%;
}

.bbtn:after {
  content: "";
  pointer-events: none;
  display: flex;
  bottom: -2px;
  left: 50%;
  /* position: absolute; */
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}